<ion-content class="ion-padding">

  <topo-login title="Cadastrar usuário"></topo-login>

  <form [formGroup]="loginForm" (submit)="createUser()">

    <ion-item>
      <ion-icon name="person" color="banco" slot="start"></ion-icon>
      <ion-input formControlName="nome" type="text" placeholder="Nome" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person" color="banco" slot="start"></ion-icon>
      <ion-input formControlName="snome" type="text" placeholder="Sobrenome" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" color="banco" slot="start"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="Email" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="banco" slot="start"></ion-icon>
      <ion-input  formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="banco" slot="start"></ion-icon>
      <ion-input  formControlName="confirm_password" type="password" placeholder="Confirmar Senha"></ion-input>
    </ion-item><br><br>

    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="banco">Enviar</ion-button>

  </form>

</ion-content>

<ion-footer>
  <ion-row>

    <ion-col>
      <ion-button [routerLink]="['/login']" fill="clear" color="medium">Voltar</ion-button>
    </ion-col>

  </ion-row>
</ion-footer>
