.logo-div {
  height: 40%;
  display: flex;
  align-items: center; // vertical
  justify-content: center; // horizontal

  p {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  img {
    height: 100px;
  }
}
