<ion-content class="ion-padding">

  <topo-login title="Esqueci minha senha"></topo-login>

  <form [formGroup]="loginForm" (submit)="recoverPass()">

    <ion-item>
      <ion-icon name="mail" color="banco" slot="start"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="Email" autofocus="true"></ion-input>
    </ion-item>

    <br><br>

    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="banco">Enviar</ion-button>

  </form>

</ion-content>

<ion-footer>
  <ion-row>

    <ion-col>
      <ion-button [routerLink]="['/auth/login']" fill="clear" color="medium">Voltar</ion-button>
    </ion-col>

  </ion-row>
</ion-footer>

